<div class="cont-hero-image">
  <p>Haz un cambio en tu vida</p>
  <h2>Adopciones</h2>
</div>
<div class="p-2">
  <div class="cont-info">
    <div class="cont-section-left">
      <div class="cont-titles">
        <p class="mt-2 paragraphs text-customer">Si buscas un compañero fiel</p>
        <h3 class="mb-3 text-customer">Aquí en Happy Paws hay muchos</h3>
        <h3 class="mb-3 text-customer">Amiguitos en busca de un hogar</h3>
      </div>
      <div class="cont-description">
        <p class="paragraphs">
          Es un gusto saber que piensas en adoptar, un compañero que espera con
          ansias ser parte de tu familia, aquí podras concoer a tu peludito
          ideal para que te llene de mucho amor, si deseas verlos proseguimos
        </p>
        <div class="cont-btn mt-2">
          <button type="button" class="btn btn-primary">
            Aquí lo encontraras
          </button>
        </div>
      </div>
    </div>
    <div class="cont-section-right">
      <div class="item-image-one">
        <img
          [src]="pathImOne"
          width="250"
          height="220"
          alt="Logo"
          class="navbar-logo"
        />
      </div>
      <div class="item-image-tow">
        <img
          [src]="pathImgTow"
          width="250"
          height="220"
          alt="Logo"
          class="navbar-logo"
        />
      </div>
    </div>
  </div>
</div>
